[submodule "realsense-ros"]
	path = realsense-ros
	url = git@github.com:IntelRealSense/realsense-ros.git
[submodule "librealsense"]
	path = librealsense
	url = git@github.com:IntelRealSense/librealsense.git
